<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Appointments</title>
    <link rel="icon"type="image/jpeg"th:href="@{/static/image/logo.jpg}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link th:href="@{/static/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="app-shell">

    <nav class="topbar navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold d-flex align-items-center gap-2"th:href="@{/doctor/dashboard}">

                <img th:src="@{/static/image/logo.jpg}"
                    alt="MediBook"
                    width="32"
                    height="32">

                <span>MediBook</span>

            </a>
            <div class="ms-auto d-flex gap-2 align-items-center">
                <span class="text-muted small" th:text="${session.userName}"></span>
                <a class="btn btn-outline-danger btn-sm" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>

    <div class="main-area d-flex">
        <aside class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link"
                    th:classappend="${activePage == 'dashboard'} ? ' active' : ''"
                    th:href="@{/doctor/dashboard}">
                    Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                    th:classappend="${activePage == 'slots'} ? ' active' : ''"
                    th:href="@{/doctor/slots}">
                    Manage Slots
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active"
                    th:classappend="${activePage == 'appointments'} ? ' active' : ''"
                    th:href="@{/doctor/appointments}">
                    My Appointments
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                    th:classappend="${activePage == 'history'} ? ' active' : ''"
                    th:href="@{/doctor/history}">
                        History
                    </a>
                </li>
            </ul>
        </aside>

        <main class="content flex-grow-1 p-4">
            <h3 class="mb-3">My Appointments</h3>

            <h5 class="mb-3 text-primary"
                th:if="${selectedStatus != null}">
                Showing:
                <span th:text="${selectedStatus}"></span>
                Appointments
            </h5>
            

            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

            <div class="table-responsive">
                
                <table class="table table-hover bg-white shadow-sm" style="border-radius:10px; overflow:hidden;">
                    <thead class="table-light">
                    <tr>
                        <th class="text-center" style="width:80px;">Slot ID</th>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(appointments)}">
                        <td colspan="8"><div class="text-muted">No appointments found.</div></td>
                    </tr>
                   <tr th:each="a : ${appointments}">
                        <td class="text-center" th:text="${a.slot.slotId}"></td>
                        <td th:text="${a.patient.name}">PATIENT</td>
                        <td th:text="${a.slot.slotDate}">DATE</td>
                        <td th:text="${a.slot.startTime}">TIME</td>
                        <td th:text="${a.reason}">REASON</td>
                        <td><span th:text="${a.status}"></span></td>
                        
                        <td>
                            
                            <form th:if="${a.status == T(com.dabs.model.enums.AppointmentStatus).PENDING}"
                                th:action="@{/doctor/appointments/confirm/{id}(id=${a.appointmentId})}"
                                method="post">

                                <button type="submit"
                                        class="btn btn-primary btn-sm">
                                    Confirm
                                </button>

                            </form>

                            <form th:if="${a.status == T(com.dabs.model.enums.AppointmentStatus).PENDING}"
                                th:action="@{/doctor/appointments/cancel/{id}(id=${a.appointmentId})}"
                                method="post">

                                <button type="submit"
                                        class="btn btn-danger btn-sm mt-1">
                                    Cancel
                                </button>

                            </form>

                            <form th:if="${a.status == T(com.dabs.model.enums.AppointmentStatus).CONFIRMED}"
                                th:action="@{/doctor/appointments/complete/{id}(id=${a.appointmentId})}"
                                method="post">

                                <button type="submit"
                                        class="btn btn-success btn-sm">
                                    Complete
                                </button>

                            </form>

                            <form th:if="${a.status == T(com.dabs.model.enums.AppointmentStatus).CONFIRMED}"
                                th:action="@{/doctor/appointments/cancel/{id}(id=${a.appointmentId})}"
                                method="post">

                                <button type="submit"
                                        class="btn btn-danger btn-sm mt-1">
                                    Cancel
                                </button>

                            </form>

                            <span th:if="${a.status == T(com.dabs.model.enums.AppointmentStatus).COMPLETED}"
                                class="badge bg-success">
                                Completed
                            </span>

                            <span th:if="${a.status == T(com.dabs.model.enums.AppointmentStatus).CANCELLED}"
                                class="badge bg-danger">
                                Cancelled
                            </span>

                            
                        </td>
                        
                        <td>
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal"
                                th:data-bs-target="'#apptModal' + ${a.appointmentId}">
                                👁
                            </button>

                            <div class="modal fade"
                                th:id="'apptModal' + ${a.appointmentId}"
                                tabindex="-1">

                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header bg-primary text-white">

                                            <h5 class="modal-title">
                                                Patient Details
                                            </h5>

                                            <button type="button"
                                                    class="btn-close btn-close-white"
                                                    data-bs-dismiss="modal">
                                            </button>

                                        </div>

                                        <div class="modal-body">

                                            <p><b>Name:</b>
                                                <span th:text="${a.patient.name}"></span>
                                            </p>

                                            <p><b>Age:</b>
                                                <span th:text="${a.patientAge}"></span>
                                            </p>

                                            <p><b>Gender:</b>
                                                <span th:text="${a.patientGender}"></span>
                                            </p>

                                            <p><b>Blood Group:</b>
                                                <span th:text="${a.bloodGroup}"></span>
                                            </p>

                                            <p><b>Weight:</b>
                                                <span th:text="${a.weight}"></span>
                                            </p>

                                            <p><b>Reason:</b>
                                                <span th:text="${a.reason}"></span>
                                            </p>

                                        

                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

